body{
    background-image: url(background.jpg);
    background-size: cover;
}
.ragistration{
    width: 650px;
    background: rgba(0, 0, 0, .5);
    margin: 150px auto;
    padding: 20px;
    border-radius: 5px;
}
.ragistration input{
    display: block;
    background-color: transparent;
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border: 1px solid yellow;
    border-radius: 5px;
    color: white;
}
.ragistration label{
    text-size: 20px;
    color: yellow;
    padding: 5px;
    cursor: pointer;
    display: block;
    font-family: tahoma;
}
.ragistration input[type=submit]{
    width: 200px;
    margin-top: 10px;
    cursor: pointer;
    color: yellow;
}
.ragistration p{
    font-size: 20px;
    color: yellow;
    font-family: tahoma;
}
.ragistration p a{
    color: white;
}